<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Upload de Arquivos
  </h1>

  <form [formGroup]="gifForm" (ngSubmit)="onSubmit()" class="form-group">
    <div>
      <label>Visibilidade:</label>
      <select formControlName="visibilidade">
        <option value="0">Público</option>
        <option value="1">Privado</option>
      </select>
    </div>

    <div>
      <input *ngIf="gifForm.controls.visibilidade.value == '1'" type="password" formControlName="senha" placeholder="Senha para acesso ao arquivo..." class="input-text">
    </div>

    <div>
      <input type="date" formControlName="data_expiracao" class="input-text">
      <span>Data de expiração do link...</span>
    </div>

    <label for="input-file" class="input-file">
      Selecionar arquivos...
      <input id="input-file" type="file" formControlName="arquivo">
    </label>

    <button type="button" (click)="enviarGif()" [disabled]="!gifForm.valid">Enviar</button>
  </form>

  <div>
    <h3>Arquivos enviados...</h3>
    <ul>
      <li *ngFor="let gif of gifs">
        {{gif.arquivo}}
      </li>
    </ul>
  </div>
</div>
