primary-color = #347bed
secondary-color = #347aad

.input-file
  color white
  background-color primary-color
  display inline-block
  padding 10px
  border-radius 5px
  &:hover
    background-color secondary-color
  &:focus
    outline 1px dotted #000
    outline -webkit-focus-ring-color auto 5px
  input
    width 0.1px
    height 0.1px
    opacity 0
    overflow hidden
    position absolute
    z-index -1

.input-text
  padding 5px
  border 1px
  border-radius 5px
  border none
  border-bottom 1px solid gray
  width 100%
  &:focus
    outline none
    border-bottom-color primary-color

.form-group
  display flex
  flex-direction column
  width 50%
